:root {
    --header-bg: #CE1126;
    --main-bg: #F4E9C8;
    --aside-bg: #EDE4C0;
    --aside-header: #228B22;
    --text-color: #ffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Google Sans Flex", sans-serif;
}

header {
    background-color: var(--header-bg);
    text-align: center;
    padding: 10px;
    font-size: 1.5rem
}

main {
    background-color: var(--main-bg);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    height: auto;
}

.hero img {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aside {
    margin-top: 15px;
    padding: 10px 0;
    font-size: 1rem;
}

.aside h2 {
    padding: 10px 0;
}

.aside .flex h2 {
    padding-bottom: 0;
}

.aside .flex img {
    width: 50px;
    height: 50px;
    padding-bottom: 10px;
}

ul li{
    display: flex;
    list-style: none;
    padding: 5px;
    gap: 10px;
}

.label {
    font-weight: bold;
    min-width: 47vw;
    text-align: right;
}

.value {
    font-weight: 400;
    text-align: left;
}

.weather h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather > h2::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    background-image: url("../images/clouds-fill-small.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

footer {
    text-align: center;
    padding: 15px 15px 15px 0;
    background-color: var(--header-bg);
    color: var(--text-color);
}

footer p {
    padding: 1.5px;
    font-size: 1rem;
}

@media screen and (min-width: 770px) {
    header {
        font-size: 2rem;
    }

    main {
        position: relative;
        background-color: var(--main-bg);
        text-align: center;
    }

    .hero img {
        margin-top: 10px;
        height: auto;
    }

    .aside {
        width: 400px;
        background-color: var(--aside-bg);
        opacity: 0.8;
        border-radius: 5px;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
    }

    .aside h2 {
        width: 250px;
        color: var(--text-color);
        font-size: 2rem;
        margin-top: 10px;
        padding: 10px 0 10px 10px;
        text-align: left;
        background-color: var(--aside-header);
    }

    .aside ul {
        padding: 10px;
    }

    .label {
        font-weight: bold;
        min-width: 150px;
        text-align: right;
    }

    .value {
        font-weight: 400;
        text-align: left;
    }

    .data {
        position: absolute;
        top: 50px;
        left: 50px;
    }

    .weather {
        position: absolute;
        bottom: 50px;
        right: 50px;
    }

    .weather h2 {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    .weather > h2::after {
        content: "";
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-left: 0.5rem;
        background-image: url("../images/clouds-fill-large.svg");
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    footer {
        padding: 10px 10px 0 10px;
    }

    footer p {
        font-size: 1.2rem;
        padding: 3px;
    }
}

