@media screen and (min-width: 780px) {
    main {
        max-width: 1000px;
        margin: 20px auto;
        text-align: center;
        color: #1F2937;
    }

    header {
        background-color: #CC5500;
        color: #ffffff;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    header p {
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 65px;
        background-color: transparent;
    }

    .navigation a {
        display: flex;
        padding: 0 10px;
        margin: 0;
        height: auto;
    }

    .navigation a:hover {
        padding: 0 10px;
        background: linear-gradient(90deg, #1F2937, #ffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #menu {
        display: none;
    }

    footer p {
        padding: 3px;
        font-size: 1rem;
    }
}